# Ignore Everything
/*

# Track These Files
!mods/

# Whitelist only specific config subfolders
!config/almostunified/**
!config/modular_machinery_reborn/**
!config/mekanism/**
!config/incontrol/**
!config/melter/**
!config/exdeorum/**
!config/projecte/**
!config/shutdowner/**
!config/farmingforblockheads/**

# Untrack Client and Cache files
*client*
*log*
*cache*

# Re-Track KubeJS folders and the client scripts
!kubejs/
!kubejs/*
!scripts/
!scripts/**

# Remove These Files
mods/.connector/*

# Archived 
*_archive*
*example*
*.log
*.txt
**probe**
**probejs**
*.disabled
*.probe
*.debug
*.bak